@mixin sp-screen {
    @media screen and (max-width: 767px) {
        @content;
    } 
}
@mixin tb-screen {
    @media screen and (min-width: 768px) and (max-width: 1151px) {
        @content;
    }
}

.article{
    h2{
        font-weight: bold;
        text-align: center;
        font-size: 30px;
        margin: 50px 0;
        @include tb-screen{
            width: 1152px;
        }
    }
}




.article_contents{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    width: 1152px;
    @include sp-screen{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    div{
        width: 30%;
        height: 500px;
        display: inline-block;
        // cursor: pointer;
        transition: all 0.3s ease 0s;
        margin-bottom: 70px;
        position: relative;
        @include sp-screen{
            width: 70%;
            height: 400px;
            margin: 10px;
        }
    }

    div:hover {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
        transform: translateY(-0.1875em);
    }


    a {
        color: black;
        position: absolute; /*アンダーラインの位置を決めるための基準 */
        bottom: 10%;
        right: 5%;
        text-decoration: none;
    }
        
    a::after {
        position: absolute;
        bottom: -100%;
        right: 0;
        content: '';
        width: 20%;
        height: 3.5px;
        background: rgb(107, 107, 107);
        transition: .5s;
        border-radius: 1em;
    }
            
    a:hover::after {
        width: 100%;
    }
         

}



.article_img img{
    width: 100%;
}

.article_date{
    margin-top: 20px;
    margin-left: 15px;
}

.article_title{
    margin: 20px 15px 0 15px;
}


.btn{
    text-align: center;
    @include tb-screen{
        width: 1152px;
    }
}

.more_btn{
    height: 50px;
    width: 100px;
    background-color: rgb(115, 115, 172);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.more_btn:hover{
    opacity: 0.8;
}